@import "tailwindcss";

:root {
  --foreground: #F7EFF8;
  --background: #25262A;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  outline: none;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  --color-foreground: #F7EFF8;
  --color-background: #25262A;
  --color-background-light: #303136;
  --color-primary: #5E458F;
  --color-secondary: #BD83C0;

  --gradient-primary: linear-gradient(to right, var(--color-primary), var(--color-secondary));
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
